.child {
    height: 100px;
    margin: 0 10px 10px 0;
    background: #333;
    color: #eee;
    font-size: 80px;
    line-height: 100px;
    text-align: center;
    
    flex: 1 1 ;
  }

  .row {
    display: flex;

  }
  
  .column{
    flex:1;
  }
  
  .block{
    flex: 1;
 
    
    
    margin: 0 10px 10px 0;
    
    
    background: #333;
    color: #eee;
    font-size: 80px;
    line-height: 100px;
    text-align: center;
  }
  
  .block-two{
    flex: 2;


margin: 0 10px 10px 0;
background: #333;
color: #eee;
font-size: 80px;
line-height: 100px;
text-align: center;
}
  