body{
  margin: 0;
  background-color: #B5C5C6;
}
.container{
  justify-content: space-evenly;

display: flex;
  flex-direction: row;

flex-wrap: wrap;
position: relative;
}

.child {

  margin: 15;
  padding: 15;
  text-align: center;
  border-radius: 50%;
  width: 22vh;
  height: 22vh;

  position: relative;
  background: transparent;


}



.hover{
 z-index: 5;
  text-align: center;
  border-radius: 50%;
  width: 22vh;
  height: 22vh;

  position: absolute;
  background: red;

}

img{
  width: 22vh;
}

.header{
  height: 30vh;
  width: 30vh;
}


.white{
  background-color: #E5E5E5;
}

.orange{
  background-color: #C78B70;
}

.green{
  background-color: #9DADAE;
}
/*DCC8BE*/
.pink{
 background-color: #DCC8BE;
}

h2{
  align-items: center;

  font-size: 2.8vh;
text-align: center;
  line-height: 1.2em;
  font-family: Staatliches;
  color: white;
font-weight: 400;

font-style: normal;


position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);


-webkit-text-stroke: 1px black;
text-shadow: 2px 2px 8px black;


}



.row {

  display: flex;
  justify-content: space-between;



}



.block{
  flex: 1;
height: 15vw;
  margin: 20;
  text-align: center;


  font-family: 'Quicksand', sans-serif;
  font-size: 3vw;
  padding: 15;

}



#one{
  display: block;
}
#answer-one{
  position: absolute;
  top: 30vh;
  display: none;
}


/* MEDIA QUERIES */

@media screen and (max-width: 1000px) {

  .container{
    flex-wrap: wrap;
  }


}