body{
    width: 100vw;
    height: 100vh;
    margin: 0;

    display: grid;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto 1fr;
    align-items: center;
}

.one {
    grid-column: 1 / 5;
    grid-row: 1;
    background-color: white;

    height: fit-content;
  }
  .two {
    grid-column: 1 / 5;
    grid-row: 2;

  }
  .three {
    grid-column: 1;
    grid-row: 3;
    background-color: pink;
    display: flex;
  }


.title{
    font-family:'Sniglet', cursive;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.235em;
    font-size: 9vw;
    margin: auto;
    margin-top: 10; 
}

h2{
    font-family:'Sniglet', cursive;
    font-weight: 400;
    text-align: center; 
    letter-spacing: 0.1em;
}

.subtitle{
    font-size: 20px;
    margin: 0 0 20 0;
}

.description{
    font-size: 1.5em;
    width: 80vw;
    margin: 20 auto ;
}

.ned-img{
    height: 350px;
    border-radius: 25px;
}

.trixie-img{
    height: 250px;
    border-radius: 25px;
}

.velociraptor-img{
    height: 150px;
    border-radius: 25px;
}

.comparison-img{
    height:350px;
    border-radius: 25px;
}
.comparison-img2{
    height:250px;
    border-radius: 25px;
}
.comparison-img3{
    height:150px;
    border-radius: 25px;
}


h3{
    font-family:'Sniglet', cursive;
    font-weight: 400;
    text-align: center; 
    letter-spacing: 0.1em;
    font-size: 1.25em;
    color: white;
}

.body-items{
    display: inline-block
}
.body-1{
    text-align: center;

}

.body-2{
    width: 60%;
    margin: auto;
}

.brachiosaurus{
    background-color:#84988B;
    width: 100vw;
    height: 80vh;

}

.Triceratops{
    background-color:#9EB6BA;
    width: 100vw;
    height: 85vh;

}

.velociraptor{
    background-color:#D1A576;
    width: 100vw;
    height: 90vh;

}



@media only screen and (min-width: 0px) {

    .velociraptor{
        display: block;
    }
    .triceratops{
        display: none;
    }
    .brachiosaurus{
        display: none;
    }

@media only screen and (min-width: 800px){
    .velociraptor{
        display: none;
    }
    .triceratops{
        display: block;
    }
    .brachiosaurus{
        display: none;
    }
}


@media only screen and (min-width: 1200px) {
    .velociraptor{
        display: none;
    }
    .triceratops{
        display: none;
    }
    .brachiosaurus{
        display: block;
    }
}}
  