body{
    width: 100vw;
    height: 100vh;
    margin: 0;

    display: grid;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto 1fr;
    align-items: center;
}

.one {
    grid-column: 1 / 5;
    grid-row: 1;
    background-color: white;

    height: fit-content;
  }
  .two {
    grid-column: 1 / 5;
    grid-row: 2;

  }
  .three {
    grid-column: 1;
    grid-row: 3;
    background-color: pink;
    display: flex;
  }
  /* .four {
    grid-column: 2;
    grid-row: 3;
    background-color: lightcyan;
  }
  .five{
      grid-column: 3 / 5;
      grid-row: 3;
      background-color: green;
  } */



.title{
    font-family:'Sniglet', cursive;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.235em;
    font-size: 9vw;
    margin: auto;
    margin-top: 10; 
}

h2{
    font-family:'Sniglet', cursive;
    font-weight: 400;
    text-align: center; 
    letter-spacing: 0.1em;
}

.subtitle{
    font-size: 20px;
    margin: 0 0 20 0;
}

.description{
    font-size: 1.75vw;
    width: 80vw;
    margin: 20 auto ;
}

.ned-img{
    height: 350px;
    border-radius: 25px;
    
}

.comparison-img{
    height:350px;
    border-radius: 25px;

}

h3{
    font-family:'Sniglet', cursive;
    font-weight: 400;
    text-align: center; 
    letter-spacing: 0.1em;
    font-size: 1.4em;
}

.body-items{
    display: inline-block
}
.body-1{
    text-align: center;
}

.body-2{
    width: 60%;
    margin: auto;
}

.brachiosaurus{
    background-color:#84988B;
    width: 100vw;
    bottom: 0;
    position: fixed;
}

.Triceratops{
    background-color:#9EB6BA;
    width: 100vw;
    height: 400px;
}

.velociraptor{
    background-color:#D1A576;
    width: 100vw;
    height: 400px;
}


/* BRACHIOSAURUS */ /*
.brachiosaurus{
    background-color: #84988B;
    position: absolute;;
    display: block;
    width: 100%;
    height: 70%;
    bottom: 0;
}

.container{
    display: inline-flex;
    flex-direction: row;
   background: lightblue;
   margin: 0 40 50 40;


}

.body-text{
    width: 80vw;
    margin: auto;
    font-size: 25px;
}



#character-container{
    display: inline-flex;;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;

    background: white;
    border-radius: 25px;
    width: 40vw;
    
}

.grid-item{
    padding:30px;
    align-self: auto;
}

#ned{
    max-width: 100%;
    min-width: 200px;
    border-radius: 5%;
    margin: auto;
}
.comparison-container{
    display: inline-table;
    width: 40vw;
}
.comparison-img{
    width: 450px;
    margin: 0;
    border-radius: 20px;

}

.character-text{
    font-size: 15px;
}

.second-text{
    width: 20vw;
    font-size: 15px;
    width: 400px;
    text-align: center;
    margin: auto;
    padding: 0;
} */

@media only screen and (min-width: 0px) {

    .velociraptor{
        display: block;
    }
    .triceratops{
        display: none;
    }
    .brachiosaurus{
        display: none;
    }

@media only screen and (min-width: 800px){
    .velociraptor{
        display: none;
    }
    .triceratops{
        display: block;
    }
    .brachiosaurus{
        display: none;
    }
}


@media only screen and (min-width: 1200px) {
    .velociraptor{
        display: none;
    }
    .triceratops{
        display: none;
    }
    .brachiosaurus{
        display: block;
    }
}}
  